@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: Bona Nova;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

.fullscreen-sketch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.wf-loading {
  opacity: 0;
}

.wf-active {
  -webkit-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 1;
}
