/*
#FD7F4C
#387194
#7BC1B7
#000000
#484848
#A6A8AB
#F8F8F8

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #000000;
  color: white;
}

a,h1,h2,p {
  font-family: 'Montserrat', sans-serif;
}

.bg-col-1 {
  background-color: #000000;
}
.bg-col-2 {
  background-color: #387194;
}
.bg-col-3 {
  background-color: #7bc1b7;
}
.bg-col-4 {
  background-color: #000000;
}
.bg-col-5 {
  background-color: #484848;
}
.bg-col-6 {
  background-color: #a6a8ab;
}
.bg-col-7 {
  background-color: black;
  border-top: 4px solid white;
}
.bg-col-8 {
  background-color: white;
}

.bd-col-1 {
  border-color: white;
}
.bd-col-2 {
  border-color: white;
}
.bd-col-3 {
  border-color: #7bc1b7;
}
.bd-col-4 {
  border-color: #000000;
}
.bd-col-5 {
  border-color: #484848;
}
.bd-col-6 {
  border-color: #a6a8ab;
}
.bd-col-7 {
  border-color: #f8f8f8;
}

.col-1 {
  color: white;
}
.col-2 {
  color: white;
}
.col-3 {
  color: #7bc1b7;
}
.col-4 {
  color: #000000;
}
.col-5 {
  color: #484848;
}
.col-6 {
  color: #a6a8ab;
}
.col-7 {
  color: #f8f8f8;
}

p a {
  /*color: #387194;*/
color: #ffffa1;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a:hover {
  color: #ffffa1;
}

/* mixed this up by just "hard-coding" the hover states*/
.rounded-link {
  font-family: 'Montserrat', sans-serif;
  padding: 0.25em 1em;
  margin: 0 0.25em 0.5em 0em;
  border-radius: 1.4em;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
.rounded-link.col-1:hover {
  color: white;
  background-color: #fd7f4c;
}
.rounded-link.col-2:hover {
  background-color: white;
  color: black;
  border-color: black;
}
.rounded-link.col-7:hover {
  color: black;
  background-color: white;
}
.rounded-link.bg-col-3:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.rounded-link.bg-col-1.bd-col-1.col-7:hover{
  background-color: white;
  color: black;
  border-color: black;

}

.top-framed-element{
  margin-top: 40px;
}

section.bg-col-2 h2,
section.bg-col-2 {
  color: white;
}

@media screen and (min-width: 1200px) {
    .container.page-max-width{
      max-width: 960px!important;
    }
}
